
.wel {
    width: 100%;
}
.nav {
    height: 100px;
}
.start{
    width: 70%;
    margin-left: 150px;
    margin-top: 50px;
    padding-bottom: 20px;
}
h1 {
    font-family: 'EB Garamond', serif;
}
.line {
    width: 90%;
}
.main{
    
    
}
.ele {
    float: left;
    margin-left: 120px;
    color: coral;
    list-style: none:
}
.our {
    color: coral;
    text-decoration: none;
    font-weight: bold;
    
    
}
#se {

    padding-left: 50px;
}
.our:hover {
    color: black;

}
.fir{
    padding-left: 96px;
}
.sec {
    padding-left: 110px;
}
.thi {
    padding-left: 55px;
}
.fou {
    padding-left: 100px;
}
.agra {
    position: absolute;
    padding-top: 65px;
}
.hello {
    padding-left: 300px;
    padding-top: 50px;
}
.info{
    padding-left: 145px;
}
.footer {
    height: 100px;
    background-color: gray;
    margin-top: 100px;
}
.copy {
    text-align: center;
    padding-top: 60px;
}
.que {
    height: 300px;
    width: 35%;
    border: 1px solid gainsboro;
    display: inline-block;
    margin-right: 150px;
    margin-top: 100px;
    line-height: 46px;
}
.he {
    
    padding-left: 20px;
}